@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

$font-ns: 'Noto Serif', serif;
$font-os: 'Open Sans', sans-serif;
$accent: #161311;
$bgc: #EEECE7;
$grey: #807E7C;

.container {
    background-color: $bgc;
    width: 50%;
    font-family: $font-ns;
    padding: 3rem 5rem 0rem 7rem;
    display: flex;
    flex-direction: column;
    & > .first {
        .logo {
            color: $bgc;
            border: 1px solid $accent;
            width: 50px;
            display: flex;
            text-align: center;
            background-color: $accent;
            justify-content: center;
            height: 50px;
            flex-direction: column;
            border-radius: 50%;
            & > p {
                font-size: 1rem;
                position: relative;
                margin: 0;
            }
        }
        & > .description {
            color: #0D0C22;
            & > h1 {
                line-height: 1.2;
                font-weight: 400;
                font-size: 3rem;
                font-family: $font-ns;
            }
            & > p {
                line-height: 1.7;
                font-family: $font-os;
                color: $grey;
            }
            & > div {
                color: $bgc;
                background-color: $accent;
                font-family: $font-os;
                height: auto;
                cursor: pointer;
                width: min-content;
                border-radius: 2px;
                position: relative;
                padding: .75rem 2.5rem;
                transition: 250ms all ease-in-out;
                &:hover {
                    background-color: darken($accent, 20%);
                }
                &::after {
                    content: "";
                    position: absolute;
                    background-color: $accent;
                    bottom: -5px;
                    right: -5px;
                    width: 100%;
                    height: 2px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    background-color: $accent;
                    bottom: -5px;
                    right: -5px;
                    width: 2px;
                    height: 100%;
                }
            }
        }
    }
    & > .second {
        .offer {
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            & > p {
                font-size: 12px;
                font-family: $font-os;
                font-weight: 700;
            }
            & > div {
                align-items: center;
                width: 100%;
                height: 60px;
                display: flex;
                flex-direction: row;
                
            }
            .icon {
                border: 1px solid $grey;
                height: 50px;
                width: 50px;
                position: relative;
                border-radius: 50%;
                margin-right: 2rem;
                & > i {
                    position: absolute;
                    top: 50%;
                    font-size: 1.25rem;
                    color: $grey;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                & > img {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 50%;
                    color: $grey;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .text {
                & > p {
                    margin: 0;
                }
                & > p:last-of-type {
                    color: $grey;
                }
            }
        }
    }
}

.pictures {
    background-color: #222;
    width: 50%;
    height: auto;
    display: grid;
    grid-template-columns: 60% 60%;
    grid-gap: 3rem;
    flex-direction: row;
    padding: 3rem 0rem 2rem 2rem;
    & > .first-picture {
        margin-right: 2rem;
    }
    & > div {
        width: 100%;
        display: flex;
        height: 100%;
        & > .center {
            font-size: 1.5rem;
            position: absolute;
            word-wrap: break-word;
            font-family: $font-os;
            bottom: 10%;
            color: $bgc;
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            & > .connector {
                display: flex;
                flex-direction: row;
                & > .index {
                    color: $grey;
                    margin: 0 1.5rem 0 2rem;
                }
            }
            & > .route {
                margin-left: 3rem;
            }
        }
        & > img {
            object-fit: cover;
            width: 100%;
            height: auto;
            background-position: center;
            position: relative;
        }
    }
}

@media only screen and (max-width: 630px) {
    html, body {
        position: relative;
        overflow-x: hidden;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .container,
    .pictures {
        width: 100%;
        padding: 0 2rem;
    }
    .container {
        & > .first {
            display: flex;
            flex-direction: column;
            & > .logo {
                transform: scale(1.5);
                margin: 5rem auto 2rem;
            }
            & > .description {
                & > h1 {
                    font-size: 1.5rem;
                    font-weight: 700;
                }
                & > div {
                    margin: 0 auto;
                }
            }
        }
        & > .second {
            & > .offer {
                & > p {
                    font-size: 1.5rem;
                    margin: 0 auto 1rem;
                }
                & > div {
                    margin: 1rem 0;
                    & > .icon {

                        flex-shrink: 0;
                    }
                }
            }
        }
    }
    .pictures {
        padding: 2rem;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        & > div {
            position: relative;
            & > img {
                border-radius: 4px;
            }
            & > .center {
                bottom: 10%;
                text-align: center;
                width: 100%;
                & > .connector {
                    justify-content: space-evenly;
                    & > .index {
                        margin: 0;
                    }
                }
                & > .route {
                    margin: 0;
                }
            }
        }
    }
}
